*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 117, 77);
    color: white;
    position: fixed;
    z-index: 10;
    
}
.navlogo{
    margin-left: 150px;
    font-size: 35px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
}
#logoname{
    font-size: 20px;
}
li{
    display: inline;
    list-style: none;
    margin: 40px 20px ;
    font-family: "Mulish", sans-serif;
}
li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.home-img{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/greenary-restaurant.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.logo-img{
    width: 200px;
    height: 200px;
    
}
#welcome{
    text-align: center;

}
.welcome-head
{
    font-family: "Calligraffitti", cursive;
    font-size: 120px;
    color: rgb(81, 136, 85);
    font-weight: 100;
    margin-top: 100px;
}
.welcome-para{
    width: 500px;
    height: 150px;
    margin-left: 400px;
    /* text-align: justify; */
    line-height: 1.5;
    color: rgb(81, 136, 85);
}
.icon-collection{
    display: flex;
    justify-content: center;
     margin-top: 40px;
    align-items: center;

}
.icons{
    width: 50px;
    height: 50px;
    /* border: solid 1px; */
    margin: 0px 1rem;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 117, 77);
}
.brand{
    color: rgb(250, 247, 247);
    font-size: 30px;
}
.icons:hover{
    background-image: linear-gradient(brown,rgb(71, 153, 71));
}
.icons:hover .brand{
    color: white;
}

.recipe-container{
    width: 100%;
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.recipe-col{
    width: 300px;
    height: 450px;
    text-align: center;
    color: white;
}
.recipe-img{
    width: 80%;
    border-radius: 50%;
    height: 228px;
    margin-left: 4px;
    margin-top: -94px;
}
#d1{
    background-color: rgb(230, 174, 122);
}
#d2{
    background-color: rgb(80, 133, 70);
}
#d3{
    background-color: rgb(83, 30, 10);
}
.recipe-head{
    font-family: "Mulish", sans-serif;
    font-size: 39px;
    color: white;
    font-weight: 500;
}
.recipe-col p{
    line-height: 1.25;
    margin-top: 15px;
    
}
.a-tag{
    /* width: 100px; */
    margin-top: 30px;
    margin-left: 19px;
    font-size: 17px;
    font-weight: 600;
    /* background-color: burlywood; */
}
.a-tag a{
    color: white;
    text-decoration: none;
}
#coffee{
    width: 100%;
    margin-top: 130px;
    display: flex;
}
.coffee-desc{
    width: 800px;
    height: 530px;
    background-color: rgb(83, 30, 10);
}
.coffee-pic{
    width: 100%;
    height: 100%;
}
.coffee-head{
    text-align: center;
    margin-top: 100px;
    margin-left: 41px;
    margin-right: 40px;
}
.para{
    margin-top: 40px;
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 1.5;
}
.coffee-a{
    margin-top: 60px;
    margin-left: 296px;
}
#locations{
    width: 100%;
    display: flex;
    margin-top: 120px;
}
.loc-col{
    width: 35%;
    height: 600px;
}
.loc-img{
    width: 100%;
    height: 100%;
}
#loc-d2{
    background-color:rgb(230, 174, 122) ;
}
#links{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i-div{
    width: 200px;
    height: 100px;
    /* border: solid 1px; */
    text-align: center;
    color: rgb(77, 117, 77);
    font-size: 21px;
}
.i-brand{
    margin: 20px 86px 16px 76px;
    color: rgb(77, 117, 77);
    font-size: 47px;
}
footer{
    margin: 100px 0px 0px 0px;
    width: 100%;
    height: 260px;
    background-color:  rgb(77, 117, 77);
    display: flex;
    justify-content: space-evenly;
}
.footer-items{
    width: 35%;
    height: 168px;
    /* border: solid 1px; */
    color: white;
    padding: 50px 30px 0px 123px;
}
#footer-img{
    width: 147px;
    height: 144px;
}
html{
    scroll-behavior: smooth;
}
